/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body, button {
    font-family: 'Quicksand', sans-serif !important;
}

:root {
    --warna-latar-nav: rgb(190, 188, 188);
    --warna-latar-utama: white;
    --warna-text: black;
}
  
body {
    width: 100%;
    margin: 0;
    background: var(--warna-latar-utama);
    color: var(--warna-text);
}

nav {
    margin: auto;
    padding: 5px;
    text-align: center;
    background: var(--warna-latar-nav);
}